@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grid-center {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row: 1;
  }
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #392a48;
}

::-webkit-scrollbar-thumb {
  background-color: #2f223a;
}