@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grid-center {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row: 1;
  }

  .shake {
    animation-name: shake;
    animation-duration: 0.7s;
    animation-fill-mode: both;
  }
  
  .howler {
    animation-name: howler;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }
}

input {
  -webkit-appearance: none;
}

/* Scrollbar house themes */

::-webkit-scrollbar {
  width: 1rem;
}

[theme='hogwarts']::-webkit-scrollbar-track {
  background-color: #392A48;
}

[theme='hogwarts']::-webkit-scrollbar-thumb {
  background-color: #2F223A;
}

[theme='gryffindor']::-webkit-scrollbar-track {
  background-color: #A62025;
}

[theme='gryffindor']::-webkit-scrollbar-thumb {
  background-color: #5D070A;
}

[theme='slytherin']::-webkit-scrollbar-track {
  background-color: #214926;
}

[theme='slytherin']::-webkit-scrollbar-thumb {
  background-color: #112D14;
}

[theme='hufflepuff']::-webkit-scrollbar-track {
  background-color: #D9AB0D;
}

[theme='hufflepuff']::-webkit-scrollbar-thumb {
  background-color: #A17F0B;
}

[theme='ravenclaw']::-webkit-scrollbar-track {
  background-color: #02223B;
}

[theme='ravenclaw']::-webkit-scrollbar-thumb {
  background-color: #01121E;
}

/* Hogwarts crest composition */

.hogwarts-crest-container {
  position: relative;
  aspect-ratio: 0.9014/1;
}

.hogwarts-crest-container > img {
  position: absolute;
  cursor: pointer;
  transition-duration: 300ms;
}

.hogwarts-crest-insignia {
  z-index: 6;
  width: 20%;
  left: 50%;
  top: 39%;
  transform: translateX(-50%) scale(1);
}

.hogwarts-crest-insignia.animate {
  transform: translateX(-50%) scale(1.3);
}

.hogwarts-crest-gryffindor {
  z-index: 5;
  width: 41.5587628866%;
  left: 13.35%;
  top: 8.95%;
  transform: scale(1);
  transform-origin: bottom left;
}

.hogwarts-crest-gryffindor.animate {
  transform: scale(1.1);
}

.hogwarts-crest-slytherin {
  z-index: 4;
  width: 28.865443299%;
  left: 50%;
  top: 11%;
  transform: scale(1) rotate(0deg);
}

.hogwarts-crest-slytherin.animate {
  transform: scale(1.2) rotate(-10deg);
}

.hogwarts-crest-hufflepuff-body {
  z-index: 2;
  width: 42.6274845361%;
  left: 4.63%;
  top: 52.99%;
  transform: scale(1);
  transform-origin: bottom left;
}

.hogwarts-crest-hufflepuff-head {
  z-index: 2;
  width: 23.3609690722%;
  left: 16%;
  top: 47%;
  transform: scale(1) rotate(0deg);
}

.hogwarts-crest-hufflepuff-head.animate {
  transform: scale(1.1) rotate(-20deg);
}

.hogwarts-crest-ravenclaw {
  z-index: 3;
  width: 46.3877938144%;
  left: 49%;
  top: 29%;
  transform: scale(1) rotate(0deg);
}

.hogwarts-crest-ravenclaw.animate {
  transform: scale(1.15) rotate(10deg);
}

.hogwarts-crest-frame {
  width: 100%;
  z-index: 1;
}

.hogwarts-crest-red {
  width: 42.5482680412%;
  left: 7.45%;
  top: 1.15%;
}

.hogwarts-crest-green {
  width: 42.1755051546%;
  right: 7.45%;
  top: 1.5%;
}

.hogwarts-crest-yellow {
  width: 47.3421237113%;
  left: 2%;
  top: 47.5%;
}

.hogwarts-crest-blue {
  width: 48.0876701031%;
  right: 2%;
  top: 47.5%;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(1deg);
  }
  20% {
    transform: rotate(-1deg);
  }
  30% {
    transform: rotate(1deg);
  }
  40% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
  60% {
    transform: rotate(-1deg);
  }
  70% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  90% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes howler {
  0% {
  }

  25% {
    transform: scale(1.3);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: translateX(200%);
  }
}