@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grid-center {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row: 1;
  }

  .shake {
    animation-name: shake;
    animation-duration: 0.7s;
    animation-fill-mode: both;
  }
}

input {
  -webkit-appearance: none;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #392a48;
}

::-webkit-scrollbar-thumb {
  background-color: #2f223a;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(1deg);
  }
  20% {
    transform: rotate(-1deg);
  }
  30% {
    transform: rotate(1deg);
  }
  40% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
  60% {
    transform: rotate(-1deg);
  }
  70% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  90% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}